<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class="menu-btn">
      <ion-menu-button manu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="ion-text-center">
    <ion-card-title>Account</ion-card-title>
    <img class="perfil-img" src="{{user.photoURL}}">
    <ion-card-header>
      <ion-card-title>{{user.displayName}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked" class="text-align-center">Magick Word</ion-label>
        <ion-input class="ion-text-center" type="text" placeholder="My Magick Word" [(ngModel)]="myMagickWord" placeholder="Insert Magick Word"></ion-input>
      </ion-item>
      <ion-button (click)="updateMyMagickWord()">Change Magick Word</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!partner" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Account Partner</ion-card-title>
    </ion-card-header>
    <img class="perfil-img" src="https://picsum.photos/100">
    <ion-card-title>No Partner Yet</ion-card-title>

    <ion-card-content>
      <ion-button (click)="addPartner()">Add Partner</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="partner" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Account Partner</ion-card-title>
    </ion-card-header>
    <img class="perfil-img" src="{{partner.photoURL}}">
    <ion-card-title>{{partner.displayName}}</ion-card-title>

    <ion-card-content>
      <ion-button (click)="addPartner()">Change Partner</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>