.w-100 {
    width: 100%;
}

ion-card {
  .valor-container {
    background-color: #222428;
    // border: solid;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


    .valor {
      font-size: 1.3em;
      font-weight: 700;
      // color: white;
    }
  }
}

.ion-item-sliding{
  width: 100%;
}

ion-icon{
  font-size: 30px!important;
}