.color-spend {
    color: tomato
}

.center {
    text-align: center;
}

ion-datetime {
    text-align: center;
}

.mw-80 {
    max-width: 80%;
}

.top-20 {
    position: relative;
    top: 20px;
}

.thumb{
    border-radius: 50%;
}