<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start" class="menu-btn">
            <ion-menu-button manu="main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Ningis ({{ningis.length}})</ion-title>
        <!-- <ion-buttons slot="primary">
            <ion-button (click)="presentPopover($event)">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>

    <!-- <ion-toolbar color="dark">
        <ion-searchbar animated="true" placeholder="Search" [(ngModel)]='searchBar' (ionChange)="search()"
            (ionCancel)="loadNingis(30)"></ion-searchbar>
    </ion-toolbar> -->
</ion-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <!-- Segment with default selection -->
    <ion-segment (ionChange)="segmentChanged($event)" value="incomming,spend">
        <ion-segment-button value="incomming,spend">
            <ion-label>Todos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="incomming">
            <ion-label>Entradas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="spend">
            <ion-label>Saídas</ion-label>
        </ion-segment-button>
    </ion-segment>


    <ion-list>
        <ion-item-sliding *ngFor="let item of ningis" id="{{item.fireID}}">
            <div *ngIf="item.user == user.email">
                <ion-item lines="unset" button [routerLink]="['/tabs/ningi-details', item.fireID]">
                    <ion-grid *ngIf="ningis.length != 0">
                        <ion-label>
                            <ion-row>
                                <ion-col size='3'>
                                    <ion-thumbnail class="ion-text-center">
                                        <img class="thumb" src="{{item.photoURL}}">
                                    </ion-thumbnail>
                                    <!-- <small>{{user.displayName}}</small> -->
                                </ion-col>
                                <ion-col size='9'>
                                    <div>
                                        <span class="color-{{item.operation}}">
                                            <ion-icon name="cash-outline"></ion-icon>
                                            <b> {{item.value | currency:"BRL":true}}</b>
                                        </span>
                                        <br>
                                        <span text-wrap>
                                            <ion-badge class="bg-{{item.source}}">{{item.source}}</ion-badge>
                                            <br>
                                            <ion-text color="primary">
                                                <ion-icon name="calendar"></ion-icon>
                                                <b> {{item.data_criacao}}</b>
                                            </ion-text>
                                            <br>
                                            <!-- <ion-chip> -->
                                                <small>
                                                    {{item.observacoes}}
                                                </small>
                                            <!-- </ion-chip> -->
                                        </span>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-label>
                    </ion-grid>
                </ion-item>

                <ion-item-options side="start">
                    <ion-item-option (click)="remove(item)" color="danger">
                        deletar
                        <ion-icon name="checkmark" slot="start"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </div>

            <div *ngIf="item.user != user.email">
                <ion-item lines="unset">
                    <ion-grid *ngIf="ningis.length != 0">
                        <ion-label>
                            <ion-row>
                                <ion-col size='3'>
                                    <ion-thumbnail class="ion-text-center">
                                        <img class="thumb" src="{{item.photoURL}}">
                                    </ion-thumbnail>
                                </ion-col>
                                <ion-col size='9'>
                                    <div>
                                        <span class="color-{{item.operation}}">
                                            <ion-icon name="cash-outline"></ion-icon>
                                            <b> {{item.value | currency:"BRL":true}}</b>
                                        </span>
                                        <br>
                                        <span text-wrap>
                                            <ion-badge class="bg-{{item.source}}">{{item.source}}</ion-badge>
                                            <br>
                                            <ion-text color="primary">
                                                <ion-icon name="calendar"></ion-icon>
                                                <b> {{item.data_criacao}}</b>
                                                <br>
                                            </ion-text>
                                            <!-- <ion-chip> -->
                                                <small>
                                                    {{item.observacoes}}
                                                    {{item.obervacoes}}
                                                </small>
                                            <!-- </ion-chip> -->
                                        </span>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-label>
                    </ion-grid>
                </ion-item>
            </div>
        </ion-item-sliding>
    </ion-list>

    <!-- Skeleton screen -->
    <ion-list *ngIf="!ningis || ningis.length == 0">
        <ion-item *ngFor="let n of [0,1,2,3,4]" padding>
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="dark" routerLink="/tabs/ningi-details" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>