<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start" class="menu-btn">
            <ion-menu-button manu="main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Ningis</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-grid class="mw-80 top-20">
            <ng-container *ngIf="!ningis || ningis.length == '0'">
                <div *ngFor="let n of [0,1,2,3,4]" padding>
                    <ion-skeleton-text></ion-skeleton-text>
                    <p>
                        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
                    </p>

                </div>
            </ng-container>
        </ion-grid>

        <ion-item-sliding *ngFor="let item of ningis" id="{{item.fireID}}">
            <ion-item lines="unset" button [routerLink]="['/tabs/ningi-details', item.fireID]">
                <ion-grid>
                    <ion-label>

                        <ion-row>
                            <ion-col size='3'>
                                <ion-thumbnail class="ion-text-center">
                                    <img class="thumb" src="{{item.photoURL}}">
                                </ion-thumbnail>
                            </ion-col>
                            <ion-col size='9'>
                                <div>
                                    <span class="color-{{item.operation}}">
                                        {{item.value | currency:"R$ ":true:"1.2" }}
                                    </span>
                                    <br>
                                    <span text-wrap>
                                        {{item.source}}
                                        <br>
                                        {{item.data_criacao}}
                                    </span>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-label>
                </ion-grid>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="remove(item)" color="danger">
                    deletar
                    <ion-icon name="checkmark" slot="end"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="dark" routerLink="/tabs/ningi-details" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>