<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start" class="menu-btn">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <form> -->
    <!-- <ion-list>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-list>

        <ion-list>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-list>

        <ion-button fill="solid" expand="black" color="dark" (click)="register()">Login</ion-button> -->
        <div class="btn-container">
            <ion-button fill="solid" expand="black" color="dark" (click)="google()">Login com Google</ion-button>
        </div>
    <!-- </form> -->

</ion-content>