.btn-container{
    text-align: center;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
    align-items: center;
}
