<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class="menu-btn">
      <ion-menu-button manu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ningi Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="ion-text-center" *ngIf="ningi.value">Editar Ningi</h1>
  <h1 class="ion-text-center" *ngIf="!ningi.value">Novo Ningi</h1>
  <ion-card>
    <ion-card-content>
      <ion-item *ngIf="data_modificacao != ''">
        <ion-label position="stacked">Stacked Label</ion-label>
        <span>{{data_criacao}}</span>
      </ion-item>

      <ion-item *ngIf="data_modificacao != ''">
        <ion-label position="stacked">Stacked Label</ion-label>
        <span>{{data_modificacao}}</span>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Operação</ion-label>
        <ion-select placeholder="Operação" [(ngModel)]="ningi.operation">
          <ion-select-option value="incomming">Entrada</ion-select-option>
          <ion-select-option value="spend">Saida</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Source</ion-label>
        <ion-select placeholder="Operação" [(ngModel)]="ningi.source">
          <ion-select-option value="carteira">Carteira</ion-select-option>
          <ion-select-option value="bradesco">Bradesco</ion-select-option>
          <ion-select-option value="santander">Santander</ion-select-option>
          <ion-select-option value="banco_do_brasil">Banco Do Brasil</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Valor</ion-label>
        <ion-input type="number" [(ngModel)]="ningi.value" placeholder="Valor" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">User</ion-label>
        <ion-select placeholder="Operação" [(ngModel)]="ningi.user" [compareWith]="ningi" value="{{ningi.user}}">
          <ion-select-option *ngFor="let user of users" value="{{user.email}}">{{user?.displayName}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Stacked Label</ion-label>
        <ion-textarea [(ngModel)]="ningi.Obervacoes" placeholder="Obervações..."></ion-textarea>
      </ion-item>


    </ion-card-content>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveChenges()">
      Save
    </ion-fab-button>
  </ion-fab>
</ion-content>