<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class="menu-btn">
      <ion-menu-button manu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ningi Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-card *ngIf="ningi.value">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <img class="perfil-img" src="{{user.photoURL}}">
          </div>
          <div class="ion-text-center">
          <b>{{user.displayName}}</b>
          </div>
        </ion-col>
        <ion-col>
          <ion-row>
            <span class="color-{{ningi.operation}}">
              <ion-icon name="cash-outline"></ion-icon>
              <b> {{ningi.value | currency:"BRL":true}}</b>
          </span>
          </ion-row>
          <ion-row>
            <ion-badge class="bg-{{ningi.source}}">{{ningi.source}}</ion-badge>
          </ion-row>
          <ion-row>
            <span>{{ningi.obervacoes}}</span>
            <span>{{ningi.observacoes}}</span>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->

<!-- 
  <ion-card *ngIf="!ningi.value">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <img class="perfil-img" src="{{user.photoURL}}">
          </div>
          <div class="ion-text-center">
          <b>{{user.displayName}}</b>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-content>


      <ion-item>
        <ion-label position="stacked"><b>Operação:</b></ion-label>
        <ion-select placeholder="Operação" [(ngModel)]="ningi.operation">
          <ion-select-option value="incomming">Entrada</ion-select-option>
          <ion-select-option value="spend">Saida</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"><b>Source:</b></ion-label>
        <ion-select placeholder="Operação" [(ngModel)]="ningi.source">
          <ion-select-option value="carteira">Carteira</ion-select-option>
          <ion-select-option value="bradesco">Bradesco</ion-select-option>
          <ion-select-option value="santander">Santander</ion-select-option>
          <ion-select-option value="banco_do_brasil">Banco Do Brasil</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"><b>Valor:</b></ion-label>
        <ion-input type="number" [(ngModel)]="ningi.value" placeholder="Valor" clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"><b>Observações:</b></ion-label>
        <ion-textarea [(ngModel)]="ningi.observacoes" placeholder="Obervações..."></ion-textarea>
      </ion-item>


    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveChenges()">
      Save
    </ion-fab-button>
  </ion-fab>
</ion-content>