<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" class="menu-btn">
      <ion-menu-button manu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="">
        <ion-text color="primary">
          <h1>R$ 442,90</h1>
          <small>Total Balance</small>
        </ion-text>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-text color="warning" class="dashboard-values">
        <h1>R$ 150,90</h1>
        <small>Bradesco</small>
      </ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text color="danger" class="dashboard-values">
        <h1>R$ 292,90</h1>
        <small>Santander</small>
      </ion-text>
    </ion-slide>
  </ion-slides>

  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center d-flex justify-content-center">
          <ion-input class="ion-text-center w-70" type="number" placeholder="R$ 42,24"></ion-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div (click)="carteira()" class="banco">
          <ion-text color="success">
            <ion-icon name="cash-outline"></ion-icon>
          </ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div class="banco">
          <ion-text color="danger">
            Bradesco
          </ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="banco">
          <ion-text color="danger">
            Santander
          </ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div class="banco">
          <ion-text color="warning">
            Banco do Brasil
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>