<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start" class="menu-btn">
            <ion-menu-button manu="main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides>
        <ion-slide>
            <div class="">
                <ion-text color="primary">
                    <h1>R$ 442,90</h1>
                    <small>Total Balance</small>
                </ion-text>
            </div>
        </ion-slide>
        <ion-slide>
            <ion-text color="success" class="dashboard-values">
                <h1>R$ 150,90</h1>
                <small>Carteira</small>
            </ion-text>
        </ion-slide>
        <ion-slide>
            <ion-text color="danger" class="dashboard-values">
                <h1>R$ 150,90</h1>
                <small>Bradesco</small>
            </ion-text>
        </ion-slide>
        <ion-slide>
            <ion-text color="danger" class="dashboard-values">
                <h1>R$ 292,90</h1>
                <small>Santander</small>
            </ion-text>
        </ion-slide>
    </ion-slides>

    <ion-text class="dashboard-values">
        <ion-grid>
            <!-- <h5 class="ion-text-center">Saída</h5> -->
            <ion-row>
                <ion-col>
                    <div (click)="addNingi('carteira')" class="banco">
                        <ion-text color="success">
                            Carteira
                        </ion-text>
                    </div>
                </ion-col>

                <ion-col>
                    <div (click)="addNingi('bradesco')" class="banco">
                        <ion-text color="danger">
                            Bradesco
                        </ion-text>
                    </div>
                </ion-col>

            </ion-row>

            <ion-row>
                <ion-col>
                    <div class="banco" (click)="addNingi('santander')">
                        <ion-text color="danger">
                            Santander
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="banco" (click)="addNingi('banco_do_brasil')">
                        <ion-text color="warning">
                            Banco do<br>Brasil
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-text>

    <!-- <ion-item>
        <ion-button color="success">Adicionar</ion-button>
    </ion-item> -->
</ion-content>