ion-slides {
    height: 170px;
}

h1,p{
    width: 100%;
}
h1{
    font-size: 2.5em;
}
small{
    font-size: 1em;
}

ion-input{
    border: solid;
    border-radius: 5px;
}

.w-70{
    width: 70%;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.banco{
    height: 90px;
    width: 120px;
    background-color: #222428;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    ion-text{
        font-weight: 500;
    }

    ion-icon{
        font-size:50px!important;
    }
}