<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start" class="menu-btn">
            <ion-menu-button manu="main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- <ion-card> -->


    <ion-slides>
        <ion-slide>
            <ion-card>
                <ion-card-content>
                    <ion-text color="{{totalBalance.color}}">
                        <h1>{{totalBalance.value | currency:"R$ ":true:"1.2"}}</h1>
                        <small>Total Balance</small>
                    </ion-text>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <ion-card-content>
                    <ion-text color="{{totalCarteira.color}}">
                        <h1>{{totalCarteira.value | currency:"R$ ":true:"1.2"}}</h1>
                        <small>Carteira</small>
                    </ion-text>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <ion-card-content>
                    <ion-text color="{{totalBradesco.color}}">
                        <h1>{{totalBradesco.value | currency:"R$ ":true:"1.2"}}</h1>
                        <small>Bradesco</small>
                    </ion-text>
                </ion-card-content>
            </ion-card>
        </ion-slide>


        <ion-slide>
            <ion-card>
                <ion-card-content>
                    <ion-text color="{{totalSantander.color}}">
                        <h1>{{totalSantander.value | currency:"R$ ":true:"1.2"}}</h1>
                        <small>Santander</small>
                    </ion-text>
                </ion-card-content>
            </ion-card>
        </ion-slide>


        <ion-slide>
            <ion-card>
                <ion-card-content>
                    <ion-text color="{{totalBancoDoBrasil.color}}">
                        <h1>{{totalBancoDoBrasil.value | currency:"R$ ":true:"1.2"}}</h1>
                        <small>Banco Do Brasil</small>
                    </ion-text>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
    <!-- </ion-card> -->

    <ion-text class="dashboard-values">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div (click)="addNingi('carteira')" class="banco">
                        <ion-text color="success">
                            Carteira
                        </ion-text>
                    </div>
                </ion-col>

                <ion-col>
                    <div (click)="addNingi('bradesco')" class="banco">
                        <ion-text color="danger">
                            Bradesco
                        </ion-text>
                    </div>
                </ion-col>

            </ion-row>

            <ion-row>
                <ion-col>
                    <div class="banco" (click)="addNingi('santander')">
                        <ion-text color="danger">
                            Santander
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="banco" (click)="addNingi('banco_do_brasil')">
                        <ion-text color="warning">
                            Banco do<br>Brasil
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-text>

    <div class="ion-text-center">
        <ion-button color="success" (click)="goTo('tabs/ningi-details')">Entrada</ion-button>
    </div>

    <div>
        <canvas style="max-width: 600px;"
            baseChart
            [chartType]="'line'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="true"
            (chartClick)="onChartClick($event)">
        </canvas>
      </div>
</ion-content>