<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start" class="menu-btn">
          <ion-menu-button manu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Backup</ion-title>
  </ion-toolbar>
</ion-header>

<a href="teste" download>download</a>
<ion-content>
  <div class="container">
    <ion-button (click)="doBackup()" size="medium" color="primary" class="ion-center" center>Fazer Backup de todos os ningis</ion-button>
  </div>
</ion-content>
